<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.daowen.mapper.CommentMapper">


    <select id="getEntityPlus" resultType="comment"  parameterType="map">

        select c.*,
        h.accountname as hyaccount,
        h.touxiang as photo,
        h.name as hyname
        from comment c
        inner  join   huiyuan h
        on h.id=c.hyid
        where istopic=1
        and  topicid=0
        <if test="belongid!=null">
            and c.belongid=#{belongid}
        </if>
        <if test="xtype!=null">
            and c.xtype=#{xtype}
        </if>

    </select>

    <select id="loadPlus" resultType="comment"  parameterType="map">

        select c.*,
        h.accountname as hyaccount,
        h.touxiang as photo,
        h.name as hyname
        from comment c
        inner  join   huiyuan h
        on h.id=c.hyid
        where istopic=1
        and  topicid=0
        <if test="id!=null">
            and c.id=#{id}
        </if>


    </select>


</mapper>


